/* --------------- navbar st5 --------------- */
.tc-navbar-st5 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding-inline-start: 50px;

    .nav-side {
        padding: 30px 50px;
        background-color: var(--cr-dark1);
        color: #fff;
    }

    .side_menu_btn {
        position: relative;
        padding-inline-end: 50px;
        height: 15px;
        &:hover {
            &::before,
            &::after {
                background-color: var(--cr-orange1);
            }
        }
        &::before {
            position: absolute;
            content: "";
            right: 0;
            top: calc(50% + 4px);
            width: 40px;
            height: 2px;
            background-color: #fff;
            transition: all 0.3s ease;
        }
        &::after {
            position: absolute;
            content: "";
            right: 0;
            top: calc(50% - 4px);
            width: 40px;
            height: 2px;
            background-color: #fff;
            transition: all 0.3s ease;
        }
    }

    .navbar-nav {
        a {
            font-size: 16px;
            font-weight: 600;
            color: var(--cr-dark1);
            // margin: 0 20px;
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-navbar-st5 {
        position: relative;
        padding: 15px;
        border-bottom: 1px solid #9993;
    }
}