/* --------------- project-page-st1 --------------- */
.project-page-st1 {

    /* --------------- innerHeader st1 --------------- */
    .tc-header-st18 {
        position: relative;
        padding: 140px 0;

        .title {
            position: relative;
            h1 {
                font-size: 130px;
                text-transform: uppercase;
            }
        }

        .social-links {
            position: relative;
            display: flex;
            margin-top: 60px;
            a {
                width: 50px;
                height: 50px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: #222;
                color: #fff9;
                border-inline-end: 1px solid #fff2;
                &:hover {
                    color: #fff;
                }
            }
        }

        .check-list {
            position: relative;
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            li {
                width: 100%;
                margin: 10px 0;
                font-size: 16px;
                font-weight: bold;
                i {
                    font-size: 13px;
                    margin-inline-end: 20px;
                }
            }
        }
        
        .lg-txt {
            position: absolute;
            top: 160px;
            right: 0;
            font-size: 180px;
            font-weight: bold;
            opacity: 5%;
            text-transform: uppercase;
            line-height: 0.9;
        }

        .header-shaps {
            position: absolute;
            top: 30%;
            right: 20px;
            width: 45%;
            object-fit: contain;
        }

    }

    @media screen and (max-width: 991px) {
        .tc-header-st18 {
            padding: 80px 0;
            overflow: hidden;
            .title {
                h1 {
                    font-size: 50px;
                }
            }
        }
    }

    .info-list {
        li {
            display: flex;
            margin: 10px 0;
            font-size: 16px;
            color: #666;
            strong {
                min-width: 40%;
                color: #151515;
            }
        }
    }

    .img {
        max-height: 100vw;
    }

    .accordion {
        position: relative;
        padding-top: 20px;
        .accordion-item {
            margin-top: 30px;
            border-radius: 0;
            border: 1px solid #9993;
            background-color: transparent;
            .accordion-button {
                border-radius: 0 !important;
                background-color: transparent !important;
                font-size: 16px;
                padding: 20px;
                color: var(--cr-dark1);
                box-shadow: none;
                border-bottom: 1px solid #9993;
                &.collapsed {
                    border: 0;
                    &::before {
                        background-color: #f6f6f6;
                    }
                    &::after {
                        content: "\f067";
                        color: var(--cr-dark1);
                    }
                }
                &::before {
                    position: absolute;
                    content: "";
                    right: 0;
                    top: 0;
                    height: 100%;
                    width: 65px;
                    background-color: var(--cr-dark1);
                }
                &::after {
                    content: "\f068";
                    font-family: "Font Awesome 6 Pro";
                    z-index: 20;
                    transform: rotate(0);
                    background-image: none;
                    color: #fff;
                    font-size: 18px;
                    font-weight: 200;
                }
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .project-page-st1 {
        .icon-200 {
            width: 150px;
            height: 150px;
        }
    }
}