/* --------------- subscribe st7 --------------- */
.tc-subscribe-st7 {
    position: relative;

    .subscribe-card {
        position: relative;
        padding: 0 5vw;
        background-color: #f6f6f6;
        border-radius: 30px;
        overflow: hidden;

        .row {
            position: relative;
            z-index: 20;
        }

        h3 {
            font-size: 32px;
            margin-bottom: 20px;
        }

        .form-group {
            position: relative;
            button {
                position: absolute;
                right: 0;
                bottom: 15px;
                font-size: 16px;
                border: 0;
                background-color: transparent;
                transform: rotate(-45deg);
            }
        }

        .form-control {
            padding: 15px 0;
            border: 0;
            border-radius: 0;
            border-bottom: 1px solid #151515;
            font-size: 16px;
            background-color: transparent;
        }

        .shapes {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
        }

    }

}

@media screen and (max-width: 991px) {
    .tc-subscribe-st7 {

    }
}