/* ========= [ * page-home_1 ]  =========*/

// navbar
@import 'navbar';


// header
@import 'header';


// features
@import 'features';


// services
@import 'services';


// about
@import 'about';


// portfolio
@import 'portfolio';


// clients
@import 'clients';


// testimonials
@import 'testimonials';


// video
@import 'video';


// goals
@import 'goals';


// subscribe
@import 'subscribe';


// blog
@import 'blog';


// footer
@import 'footer';


// ------------ home style ------------
.home-st7 {
    position: relative;

    #scrollsmoother-container {
        background-image: url(../img/body_bg.png);
        background-repeat: repeat;
        min-height: 100vh;
    }

    
}

@media screen and (max-width: 991px) {
    .home-st7 {
        br{
            display: none;
        }
        .fsz-50 {
            font-size: 30px !important;
        }
        .fsz-45 {
            font-size: 25px !important;
        }
        
        .fsz-40 {
            font-size: 25px !important;
        }
        .mb-90 {
            margin-bottom: 40px !important;
        }
        .fsz-30 {
            font-size: 18px !important;
        }

        .mb-50 {
            margin-bottom: 30px !important;
        }

        .mt-5 {
            margin-top: 2rem!important;
        }

    }
}
