/* --------------- footer st1 --------------- */
.tc-footer-st1 {
    position: relative;
    background-color: #151515;
    color: #fff;

    .container {
        position: relative;
        z-index: 20;
    }

    .main-footer {
        position: relative;
        padding: 140px 0;
        .lg-txt {
            font-size: 195px;
            color: #fff;
            opacity: 0.05;
            position: absolute;
            right: 5%;
            bottom: 0;
            line-height: 1;
            transform: translateY(35%);
            font-weight: 300;
        }
        .foot-shapes {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .fav-line {
            position: absolute;
            top: 0;
            left: calc((100% - 1320px) / 2);
            width: 30vw;
            height: 100%;
            object-fit: contain;
        }
    }

    .form-group {
        position: relative;

        .form-control {
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid #fff2;
            border-radius: 0;
            padding: 10px 0;
            &::placeholder {
                color: #777;
            }
        }

        button {
            position: absolute;
            right: 0;
            bottom: 15px;
            background-color: transparent;
            border: 0;
            transform: rotate(-45deg);
        }

    }

    .links-wrapper {
        position: relative;
        margin-top: 100px;
        .contact-links {
            a {
                font-size: 32px;
                font-weight: 500;
                margin: 5px 0;
                &:hover {
                    color: var(--cr-orange1);
                }
            }
        }
    }

    .links-group {
        .links {
            a {
                font-size: 16px;
                opacity: 0.6;
                margin-bottom: 10px;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .foot {
        position: relative;
        padding: 30px 0;
        background-color: #0f0f0f;
        .foot-links {
            a {
                font-size: 16px;
                margin-inline-start: 30px;
            }
        }
    }


}

@media screen and (max-width: 991px) {
    .tc-footer-st1 {
        .main-footer {
            .lg-txt {
                font-size: 70px;
            }
        }
    }
}