/* --------------- video st2 --------------- */
.tc-video-st2 {
    position: relative;
    overflow: hidden;

    .content {
        position: relative;
        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            transform: translate(-30%, -30%) rotate(45deg);
            border-top: 35px solid transparent;
            border-right: 35px solid transparent;
            border-bottom: 35px solid transparent;
            border-left: 35px solid var(--cr-orange1);
        }
        &::after {
            position: absolute;
            content: "";
            right: 0;
            bottom: 0;
            width: 115px;
            height: 115px;
            border-radius: 50%;
            border: 1px solid #151515;
            transform: translate(50%, 50%);
        }
    }

    .video-card {
        position: relative;
        height: 600px;
        overflow: hidden;
        z-index: 20;

        .video {
            object-fit: cover;
        }

        .play-btn {
            position: absolute;
            left: calc(50% - 75px);
            top: calc(50% - 75px);
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 1px solid #fff;
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
            font-size: 16px;
            z-index: 20;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-video-st2 {

    }
}